
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');
body 
{
	/* background-color: #fff5bebd; */
  /* background-color: #FEFBF6; */
  background-color: #FFF8E3;
    font-family: 'Space Mono', monospace;
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color:white;
    margin: 50px;
    border-radius: 20px;
    background-color: rgb(21, 21, 21);
    border: 1px solid #7171714f;
  
}
.hero h1{
    font-size: 4rem;
    color: #cccccc;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.hero span {
  color: #FFD700;
}

.maincontainer{
  display: flex; 
  flex-wrap: wrap;
  position: relative;
  /* background-color: yellow; */
  justify-content: center;
  align-items: center;
  margin: 10px 100px;
}
.container{
    /* display: block;
    width: 90%;
    margin:50px auto; */
    display: flex; 
    flex-wrap: wrap;
    position: relative;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;

}

.container a{
  text-decoration: none;
  color: black;

}

.tile{
  padding: 12px;
  background-color: white;
  margin: 1rem;
  width: 200px;
  display: flex;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  border-radius: 5px;
  border: 1px solid #7171714f;
}
.tile img{
  padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #7171714f;
}

/* .tile h4,p{
    margin: 0;
    color: rgba(0, 0, 0, 0.926);
    font-size: .8rem;
} */
.tile h4,p{
 
  margin: 0;
  color: rgba(0, 0, 0, 0.926);
}


.tile p{
  font-size: .7rem;
}

.tag {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.6rem;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 700;
  background-color: gold;
  color: black;
  padding: 2px;


}

.title p{
  font-size: 0.5rem;
  text-decoration: none

}

i{
    opacity: 0.5;
}
footer{
  position: absolute;
  bottom: 0;
  padding: 20px;
  right: 0;;
  font-weight: bolder;
 
}
footer a{
  color: palevioletred;
}

#sign-in-with-google-btn{
  margin: 50px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: 1px solid #7171714f;
  margin: 1rem;

}
#sign-in-with-google-btn img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#delbtn{
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: white;
  color: white;
border: 0px;
  border-radius: 90px;
  padding: 5px;
  cursor: pointer;
}

#editbtn{
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: white;
  color: white;
  border: 0px;
  border-radius: 90px;
  padding: 5px;
  cursor: pointer;
}

#signoutbtn , #addbtn {
  position: absolute;
 
 
  color: black;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  margin: 20px;
 display: block;
  height: 40px;
  width: 100px;
  outline: none;
  padding: 12px;
  border: 0px;
  background-color:gold;
  border-radius: 90px;

}
#signoutbtn{
  bottom: 20;
  right: 0;
}
#addbtn{
  bottom: 20;
  left: 0;
}

.category-buttons{
  position: relative;
  display: flex;
  /* background-color: yellow; */
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.category-buttons button{
  padding: 10px 20px;
  border-radius: 4px;
  border:1px solid darkgray;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  transition: .5 ease-in;
}

.category-buttons button:hover {
  background-color: #FFD700;
  color: black;
  

}
.buttoncontainer{
  position: relative;
}
#totalnumberofwebsites{
  position: absolute;
  top:0px;
  right: -30px;
transform: translate(-50%, -50%);
  background-color: gold;
  color: black;
  padding: 5px 10px;
  border-radius: 90px;
  font-size: .6rem;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
}

@media only screen and (max-width:500px) {
 .hero{
  display: block;
  margin: 20px auto;
  width: 90%;
  display: flex;
  align-items: center;
  border: 2px solid gold;
  justify-content: center;
  background-color: rgb(21, 21, 21);
 }
 .hero h1{
  font-size: 2.5rem;
 }
.tile p {
  font-size: .6rem;
}
 .tile{
  width: 150px;
  height: 70px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
 }
 .maincontainer{
  /* background-color: red; */
  margin: 1px;
 }
}